@import "../../css/custom";

.chat-frame {
  .list-messages {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgb(45, 45, 45);
    width: calc(420 / $fdf) * $rem;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 9;

    &.open {
      .list-messages-container {
        height: calc(380 / $fdf) * $rem;
        transition: height .15s ease-in;
        overflow-y: auto;
      }
    }

    &.hidden {
      bottom: 0;
      transition: bottom .15s ease-in;

    }

    .list-messages-header {
      display: flex;
      align-items: center;
      padding: calc(24 / $fdf) * $rem calc(16 / $fdf) * $rem;
      justify-content: space-between;
      height: calc(60 / $fdf) * $rem;
      font-size: calc(18 / $fdf) * $rem;
      line-height: 1.4;
      font-weight: 500;
      color: #ffffff;
      cursor: pointer;

      .title {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          transition: text-decoration .15s ease-in;
        }
      }

      .list-messages-header-button {
        .anticon {
          padding: calc(6 / $fdf) * $rem;
          border-radius: 50%;
          cursor: pointer;

          &:nth-child(2) {
            margin-left: calc(12 / $fdf) * $rem;
          }

          &:hover {
            background-color: #bcc5d3;
            transition: background .15s ease-in;
          }
        }
      }
    }

    .list-messages-container {
      background-color: #ffffff;
      color: #2c2c2c;
      border: 1px solid $bordercolor;
      height: 0;

      .list-messages-container-header {
        display: flex;
        align-items: center;
        padding: calc(12 / $fdf) * $rem calc(16 / $fdf) * $rem;

        &.custom-form-item {
          margin-bottom: 0;
        }

        .form-input {
          margin-right: calc(16 / $fdf) * $rem;
        }

        .anticon {
          font-size: calc(22 / $fdf) * $rem;
          cursor: pointer;
          padding: calc(6 / $fdf) * $rem;
          border-radius: 50%;

          &:hover {
            background-color: #bcc5d3;
            transition: background .15s ease-in;
          }
        }
      }

      .list-messages-items {
        .list-messages-items-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 calc(16 / $fdf) * $rem;

          span {
            font-size: calc(18 / $fdf) * $rem;
            line-height: 1.4;
            display: block;

            &:first-child {
              font-weight: 700;
            }

            &:nth-child(2) {
              color: #216bca;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
                transition: background .15s ease-in;
              }
            }
          }
        }

        .list-messages-main {
          .message-item {
            display: flex;
            justify-content: space-between;
            padding: calc(12 / $fdf) * $rem;
            cursor: pointer;
            .message-item-time-latest{
              opacity: 0.5;
              color: #2c2c2c
            }
            &:hover {
              background-color: #eef0f4;
              transition: background-color .1s ease-in-out;
            }

            .message-item-left {
              display: flex;

              .message-item-avatar {
                margin-right: calc(10 / $fdf) * $rem;
                position: relative;

                img {
                  width: calc(50 / $fdf) * $rem ;
                  height: calc(50 / $fdf) * $rem ;
                  object-fit: cover;
                  border-radius: 5px;
                }

                .user-status {
                  width: calc(10 / $fdf) * $rem ;
                  height: calc(10 / $fdf) * $rem ;
                  border-radius: 50%;
                  position: absolute;
                  bottom: 0;
                  right: 0;

                  &.offline {
                    background-color: #acafb1;
                  }

                  &.online {
                    background-color: rgb(67, 206, 67);
                  }
                }
              }

              .message-item-infor {
                font-weight: 600;
                font-size: calc(16 / $fdf) * $rem;
                line-height: 1.4;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .email {
                  font-weight: 400;
                }

                .message-item-latest {
                  color: #2c2c2c;
                  padding-bottom: calc(4 / $fdf) * $rem;
                  font-weight: 400;
                }
              }
            }

            &.received {
              .message-item-latest {
                font-weight: 600 !important;
              }

              .message-item-sub-info {
                .message-item-status {
                  width: calc(10 / $fdf) * $rem ;
                  height: calc(10 / $fdf) * $rem ;
                  border-radius: 50%;
                  background-color: rgb(83, 83, 232);
                  float: right;
                  margin-top: calc(8 / $fdf) * $rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .chat-windows-list {
    display: flex;
    flex-direction: row-reverse;
  }
}