@import "../../css/custom";

.chat-frame {
  .list-messages {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgb(45, 45, 45);
    width: calc(420 / $fdf) * $rem;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 9;

    &.open {
      .list-messages-container {
        height: calc(380 / $fdf) * $rem;
        transition: height .15s ease-in;
        overflow-y: auto;
      }
    }

    &.hidden {
      bottom: 0;
      transition: bottom .15s ease-in;

    }

    .list-messages-header {
      display: flex;
      align-items: center;
      padding: calc(24 / $fdf) * $rem calc(16 / $fdf) * $rem;
      justify-content: space-between;
      height: calc(60 / $fdf) * $rem;
      font-size: calc(18 / $fdf) * $rem;
      line-height: 1.4;
      font-weight: 500;
      color: #ffffff;
      cursor: pointer;

      .title {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          transition: text-decoration .15s ease-in;
        }
      }

      .list-messages-header-button {
        .anticon {
          padding: calc(6 / $fdf) * $rem;
          border-radius: 50%;
          cursor: pointer;

          &:nth-child(2) {
            margin-left: calc(12 / $fdf) * $rem;
          }

          &:hover {
            background-color: #bcc5d3;
            transition: background .15s ease-in;
          }
        }
      }
    }

    .list-messages-container {
      background-color: #ffffff;
      color: #2c2c2c;
      border: 1px solid $bordercolor;
      height: 0;

      .list-messages-container-header {
        display: flex;
        align-items: center;
        padding: calc(12 / $fdf) * $rem calc(16 / $fdf) * $rem;

        &.custom-form-item {
          margin-bottom: 0;
        }

        .form-input {
          margin-right: calc(16 / $fdf) * $rem;
        }

        .anticon {
          font-size: calc(22 / $fdf) * $rem;
          cursor: pointer;
          padding: calc(6 / $fdf) * $rem;
          border-radius: 50%;

          &:hover {
            background-color: #bcc5d3;
            transition: background .15s ease-in;
          }
        }
      }

      .list-messages-items {
        .list-messages-items-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 calc(16 / $fdf) * $rem;

          span {
            font-size: calc(18 / $fdf) * $rem;
            line-height: 1.4;
            display: block;

            &:first-child {
              font-weight: 700;
            }

            &:nth-child(2) {
              color: #216bca;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
                transition: background .15s ease-in;
              }
            }
          }
        }

        .list-messages-main {
          .message-item {
            display: flex;
            justify-content: space-between;
            padding: calc(12 / $fdf) * $rem;
            cursor: pointer;

            &:hover {
              background-color: #eef0f4;
              transition: background-color .1s ease-in-out;
            }

            .message-item-left {
              display: flex;

              .message-item-avatar {
                margin-right: calc(10 / $fdf) * $rem;
                position: relative;

                img {
                  width: calc(50 / $fdf) * $rem ;
                  height: calc(50 / $fdf) * $rem ;
                  object-fit: cover;
                  border-radius: 5px;
                }

                .user-status {
                  width: calc(10 / $fdf) * $rem ;
                  height: calc(10 / $fdf) * $rem ;
                  border-radius: 50%;
                  position: absolute;
                  bottom: 0;
                  right: 0;

                  &.offline {
                    background-color: #acafb1;
                  }

                  &.online {
                    background-color: rgb(67, 206, 67);
                  }
                }
              }

              .message-item-infor {
                font-weight: 600;
                font-size: calc(16 / $fdf) * $rem;
                line-height: 1.4;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .email {
                  font-weight: 400;
                }

                .message-item-latest {
                  color: #2c2c2c;
                  padding-bottom: calc(4 / $fdf) * $rem;
                  font-weight: 400;
                }
              }
            }

            &.received {
              .message-item-latest {
                font-weight: 600 !important;
              }

              .message-item-sub-info {
                .message-item-status {
                  width: calc(10 / $fdf) * $rem ;
                  height: calc(10 / $fdf) * $rem ;
                  border-radius: 50%;
                  background-color: rgb(83, 83, 232);
                  float: right;
                  margin-top: calc(8 / $fdf) * $rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .chat-windows-list {
    display: flex;
    flex-direction: row-reverse;

    .chat-window-item {
      width: calc(380 / $fdf) * $rem;
      z-index: 99;

      &.hidden {
        height: calc(60 / $fdf) * $rem;
        transition: height .15s ease-in;
        position: fixed;
        // right: calc(436 / $fdf) * $rem;
        bottom: 0;
      }

      &.open,
      &.focus {
        height: calc(448 / $fdf) * $rem ;
        transition: height .15s ease-in;
        position: fixed;
        // right: calc(436 / $fdf) * $rem;
        bottom: 0;
      }

      &.open {
        .chat-window-item-header {
          background-color: #3d4a5d;
          transition: background-color .15s ease-in;
        }
      }

      &.focus {
        .chat-window-item-header {
          background-color: rgb(45, 45, 45);
          transition: background-color .15s ease-in;
        }
      }

      .chat-window-item-wrapper {
        position: relative;

        .chat-window-item-header {
          display: flex;
          align-items: center;
          padding: calc(24 / $fdf) * $rem calc(16 / $fdf) * $rem;
          justify-content: space-between;
          height: calc(60 / $fdf) * $rem;
          font-size: calc(18 / $fdf) * $rem;
          line-height: 1.4;
          font-weight: 500;
          color: #ffffff;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          background-color: rgb(45, 45, 45);
          cursor: pointer;

          &:hover {
            background-color: rgb(85, 83, 83);
          }

          .chat-window-header-left {
            display: flex;
            align-items: center;
            width: 60%;

            .account-status {
              width: calc(12 / $fdf) * $rem;
              height: calc(12 / $fdf) * $rem;
              border-radius: 50%;

              &.online {
                background-color: green;
              }

              &.offline {
                background-color: grey;
              }
            }

            .chat-window-header-left-info {
              padding-left: calc(12 / $fdf) * $rem;

              .email {
                width: fit-content;
              }

              .chat-title {
                max-width: calc(170 / $fdf) * $rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          .chat-window-header-right {
            width: 40%;
            display: flex;
            justify-content: flex-end;

            .anticon {
              font-size: calc(24 / $fdf) * $rem;
              padding-right: calc(12 / $fdf) * $rem;
              padding: calc(3 / $fdf) * $rem;
              cursor: pointer;

              &:hover {
                background-color: rgb(212, 210, 210);
                border-radius: 50%;
                transition: background-color .15s ease-in;
              }

              &:last-child {
                padding-right: 0;
              }
            }
          }
        }

        .chat-frame-content {
          background-color: #ffffff;
          border: 1px solid $bordercolor;
          max-height: 24.125rem;
          height: 24.125rem;
        }

        .chat-frame-editor {
          background-color: #ffffff;
          display: flex;
          position: absolute;
          bottom: 0;
          top: auto;
          right: 0;
          left: 0;
          border-top: 1px solid #dedede;
          border-bottom: 1px solid #dedede;

          .anticon {
            font-size: calc(16 / $fdf) * $rem;
            padding: calc(4 / $fdf) * $rem;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
              background-color: #dedede;
            }
          }

          .chat-frame-editor-left {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-left: 1px solid #dedede;
            width: 75%;

            .anticon {
              z-index: 99;
            }

            textarea {
              width: 100%;
              border-radius: 0;
              border: unset !important;

              &:focus {
                border: unset !important;
                box-shadow: unset !important;
              }

              &::placeholder {
                // line-height: calc(40 / $fdf) * $rem;
              }
            }
          }

          .chat-frame-editor-right {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff;
            border: 1px solid $bordercolor;
            // padding: 0 calc(12 / $fdf) * $rem;
          }
        }
      }

    }
  }
}