@import "../../../css/custom";

.change-image-modal{
    width: calc(400 / $fdf) * $rem;
    height: calc(510 / $fdf) * $rem;
    background-color: #ffffff;
    border-radius: 2px;
    padding:  calc(32 / $fdf) * $rem calc(24 / $fdf) * $rem calc(24 / $fdf) * $rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto';
    .change-image-modal-content{
        .title{
            font-weight: 600;
            font-size:  calc(24 / $fdf) * $rem;
            line-height: 1.33;
            color: $textcolor
        }
        .description{
            font-weight: 400;
            font-size:  calc(14 / $fdf) * $rem;
            line-height: 1.33;
            color: $textcolor;
            margin-bottom: calc(16 / $fdf) * $rem;
        }
        .react-crop {
            &.loading{
                .ant-spin-nested-loading{
                    display: block;
                    .div-loading{
                        width: 100%;
                        height: calc(300 / $fdf) * $rem;
                        border: 1px dotted black;
                        border-radius: 2px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                    }
                }
                .ReactCrop{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    display: none;
                    img{
                        max-height: calc(290 / $fdf) * $rem;;
                        max-width: calc(290 / $fdf) * $rem;;
                    }
                }
            }
            &.crop {
                .ant-spin-nested-loading{
                    display: none;
                    .div-loading{
                        width: 100%;
                        height: calc(300 / $fdf) * $rem;
                        border: 1px dotted black;
                        border-radius: 2px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                    }
                }
                .ReactCrop{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    display: block;
                    img{
                        max-height: calc(280 / $fdf) * $rem;;
                        max-width: calc(280 / $fdf) * $rem;;
                    }
                }
            }
        }
        
    }
    .modify-avatar-button{
        &.none{
            display: none;
        }
        .set-as-default{
            padding:  calc(6 / $fdf) * $rem  calc(13 / $fdf) * $rem;
            font-weight: 600;
            color: $textcolor;
            background-color: $bordercolor;
            text-align: center;
            cursor: pointer;
            border-radius: 2px;
            &:hover{
                background-color: $hovercolor;
            }
        }
        input{
            display: none;
        }
        .change-picture{
            text-align: center;
            color:#1772eb;
            margin-top: calc(8 / $fdf) * $rem;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}