@import "../../../css/custom";

.chat-window-item {
  width: calc(380 / $fdf) * $rem;
  z-index: 99;

  &.hidden {
    height: calc(60 / $fdf) * $rem;
    transition: height .15s ease-in;
    position: fixed;
    // right: calc(436 / $fdf) * $rem;
    bottom: 0;
  }

  &.open,
  &.focus {
    height: calc(448 / $fdf) * $rem ;
    transition: height .15s ease-in;
    position: fixed;
    // right: calc(436 / $fdf) * $rem;
    bottom: 0;
  }

  &.open {
    .chat-window-item-header {
      background-color: #3d4a5d;
      transition: background-color .15s ease-in;
    }
  }

  &.focus {
    .chat-window-item-header {
      background-color: rgb(45, 45, 45);
      transition: background-color .15s ease-in;
    }
  }

  .chat-window-item-wrapper {
    position: relative;

    .chat-window-item-header {
      display: flex;
      align-items: center;
      padding: calc(24 / $fdf) * $rem calc(16 / $fdf) * $rem;
      justify-content: space-between;
      height: calc(60 / $fdf) * $rem;
      font-size: calc(18 / $fdf) * $rem;
      line-height: 1.4;
      font-weight: 500;
      color: #ffffff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: rgb(45, 45, 45);
      cursor: pointer;

      &:hover {
        background-color: rgb(85, 83, 83);
      }

      .chat-window-header-left {
        display: flex;
        align-items: center;
        width: 60%;

        .account-status {
          width: calc(12 / $fdf) * $rem;
          height: calc(12 / $fdf) * $rem;
          border-radius: 50%;

          &.offline {
            background-color: #acafb1;
          }

          &.online {
            background-color: rgb(67, 206, 67);
          }
        }

        .chat-window-header-left-info {
          padding-left: calc(12 / $fdf) * $rem;

          .email {
            width: fit-content;
          }

          .chat-title {
            max-width: calc(170 / $fdf) * $rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .chat-window-header-right {
        width: 40%;
        display: flex;
        justify-content: flex-end;

        .anticon {
          font-size: calc(24 / $fdf) * $rem;
          padding-right: calc(12 / $fdf) * $rem;
          padding: calc(3 / $fdf) * $rem;
          cursor: pointer;

          &:hover {
            background-color: rgb(212, 210, 210);
            border-radius: 50%;
            transition: background-color .15s ease-in;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }

    .chat-frame-content {
      background-color: #ffffff;
      border: 1px solid $bordercolor;
      max-height: 24.125rem;
      height: 24.125rem;
      position: relative;

      .ant-spin {
        height: 100%;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .chat-content-list {
        overflow-y: auto;
        height: auto;
        padding: calc(16 / $fdf) * $rem calc(8 / $fdf) * $rem;
        padding-bottom: 0;
        max-height: 93%;
        display: flex;
        flex-direction: column;
        &.get-new{
          opacity: 0.5;
        }

        img {
          width: calc(36 / $fdf) * $rem;
          height: calc(36 / $fdf) * $rem;
          border-radius: 50%;
          object-fit: cover;
        }

        .message-item {
          display: flex;
          padding: calc(20 / $fdf) * $rem 0;
          font-size: calc(16 / $fdf) * $rem;

          &.own-message {
            justify-content: flex-end;
            position: relative;

            .message-content {
              background-color: #0084ff;
              border-radius: 8px;
              color: #ffffff;
              padding: calc(8 / $fdf) * $rem calc(12 / $fdf) * $rem;
              max-width: 70%;
              width: fit-content;
            }

            .last-message-status {
              position: absolute;
              bottom: 0;
              right: 0;

              img {
                width: calc(14 / $fdf) * $rem;
                height: calc(14 / $fdf) * $rem;
                border-radius: 50%;
                object-fit: cover;
              }
            }
          }

          &.other-message {
            justify-content: flex-start;

            .message-content {
              background-color: #9da0a2;
              color: #ffffff;
              border-radius: 8px;
              max-width: 70%;
              width: fit-content;
              padding: calc(8 / $fdf) * $rem calc(12 / $fdf) * $rem;
              text-align: center;
              margin-left: calc(8 / $fdf) * $rem;
            }
          }
        }
      }
    }

    .chat-frame-editor {
      background-color: #ffffff;
      display: flex;
      position: absolute;
      bottom: 0;
      top: auto;
      right: 0;
      left: 0;
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;

      .anticon {
        font-size: calc(16 / $fdf) * $rem;
        padding: calc(4 / $fdf) * $rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: #dedede;
        }
      }

      .chat-frame-editor-left {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-left: 1px solid #dedede;
        width: 75%;

        .anticon {
          z-index: 99;
        }

        textarea {
          width: 100%;
          border-radius: 0;
          border: unset !important;

          &:focus {
            border: unset !important;
            box-shadow: unset !important;
          }

          &::placeholder {}
        }
      }

      .chat-frame-editor-right {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        border: 1px solid $bordercolor;
        // padding: 0 calc(12 / $fdf) * $rem;
      }
    }
  }

}