@import "../../../css/custom";
@import "../../../css/variable";

.new-freelancer-content{
    
    &.profile-detail{
        margin: 0 auto;
        max-width: calc(540 / $fdf) * $rem;
        .profile-detail-wrapper{
            padding: 0 calc(8 / $fdf) * $rem;
        }
    }
}
