@import "variable";
@import "font";
// @import 'antd/dist/antd.css';

body {
  margin: 0 !important;
}

canvas {
  width: 100%;
}

.ant-popover-inner {
  padding: 0 !important;
}

.contact-decor {
  height: 3px;
  width: 95%;
  background-position-x: -30px;
  background-size: 116px 3px;
  margin: 12px auto;
  background-image: repeating-linear-gradient(45deg,
      #6fa6d6,
      #6fa6d6 33px,
      transparent 0,
      transparent 41px,
      #f18d9b 0,
      #f18d9b 74px,
      transparent 0,
      transparent 82px);
}

.ant-notification-notice-content {
  .ant-notification-notice-message {
    // display: flex;
    // width: calc(500 / $fdf) * $rem;
    font-size: calc(18 / $fdf) * $rem;
    line-height: calc(24 / $fdf) * $rem;
  }
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover {
  left: 10px !important;
  z-index: 2;
  color: #2c2c2c !important;
  font-size: 18px !important;
  background-color: #ffffff !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  margin-top: -30px !important;
  border: 1px solid $maincolor;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 35%);

  svg {
    transform: translate(-4%, 25%) !important;
  }
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
  right: 10px !important;
  z-index: 2;
  color: #2c2c2c !important;
  font-size: 18px !important;
  background: #ffffff !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  margin-top: -30px !important;
  border: 1px solid $maincolor;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 35%);

  svg {
    transform: translate(-4%, 25%) !important;
  }
}

.form-input {
  width: 100%;
  height: calc(40 / $fdf) * $rem;
  padding: 0 calc(12 / $fdf) * $rem;
  border: 1px solid #d9d9d9;
  border-radius: calc(5 / $fdf) * $rem;
  font-family: $roboto;
  font-weight: 400;
  font-size: calc(16 / $fdf) * $rem;
  color: #2c2c2c;
  line-height: calc(24 / $fdf) * $rem;
  background-color: #ffffff;

  &::placeholder {
    font-family: $roboto;
    font-weight: 400;
    font-size: calc(16 / $fdf) * $rem;
    line-height: calc(24 / $fdf) * $rem;
    color: rgba(0, 0, 0, 0.25);
  }

  input {
    height: 100%;
    font-family: $roboto;
    font-weight: 400;
    font-size: calc(16 / $fdf) * $rem;
    color: #2c2c2c;
    line-height: calc(24 / $fdf) * $rem;
    padding: 0;

    &::placeholder {
      font-family: $roboto;
      font-weight: 400;
      font-size: calc(16 / $fdf) * $rem;
      line-height: calc(24 / $fdf) * $rem;
      color: rgba(0, 0, 0, 0.25);
    }
  }

  .ant-input-number-input {
    border: unset;
  }

  &.text-area {
    height: calc(150 / $fdf) * $rem;
    padding: calc(8 / $fdf) * $rem calc(12 / $fdf) * $rem;
    textarea{
      font-size: calc(14 / $fdf) * $rem !important;
    }
  }

  .ant-input-number-input-wrap {
    height: 100%;
  }

  .ant-input-number-handler-wrap {
    display: none;
  }

  &.ant-input-number {
    padding: 0 calc(8 / $fdf) * $rem;
  }
}

.form-select {
  height: calc(40 / $fdf) * $rem;

  .ant-select-selector {
    height: 100% !important;
    padding: 0 calc(12 / $fdf) * $rem;
    border: 1px solid #d9d9d9;
    border-radius: calc(5 / $fdf) * $rem;
    background-color: #f1f4f6;

    .ant-select-selection-placeholder {
      font-family: $roboto;
      font-weight: 400;
      font-size: calc(16 / $fdf) * $rem;
      line-height: calc(40 / $fdf) * $rem;
      color: rgba(0, 0, 0, 0.25);
    }

    .ant-select-selection-item {
      font-family: $roboto;
      font-weight: 400;
      font-size: calc(16 / $fdf) * $rem;
      color: #2c2c2c;
      // line-height: calc(40 / $fdf) * $rem;
    }
  }

  &.multiple {
    .ant-select-selector {
      height: 100%;
      min-height: calc(40 / $fdf) * $rem;

      .ant-select-selection-overflow {
        .ant-select-selection-overflow-item {
          .ant-select-selection-search {
            left: 0;
            margin-top: 0;
            margin-bottom: 0;
            margin-inline-start: 0;
          }

          .ant-select-selection-item {
            height: 100%;
            margin-top: calc(2 / $fdf) * $rem;
            margin-bottom: calc(2 / $fdf) * $rem;
            // line-height: calc(30 / $fdf) * $rem;
            background: #e4e4e4;
            border: 1px solid #e4e4e4;
            border-radius: calc(2 / $fdf) * $rem;
            -webkit-margin-end: calc(4 / $fdf) * $rem;
            margin-inline-end: calc(4 / $fdf) * $rem;
            -webkit-padding-start: calc(8 / $fdf) * $rem;
            padding-inline-start: calc(8 / $fdf) * $rem;
            -webkit-padding-end: calc(4 / $fdf) * $rem;
            padding-inline-end: calc(4 / $fdf) * $rem;

            .ant-select-selection-item-content {
              margin-right: calc(5 / $fdf) * $rem;
            }

            .ant-select-selection-item-remove {
              font-size: calc(10 / $fdf) * $rem;
            }
          }
        }
      }
    }
  }
}

.form-date {
  width: 100%;
  height: calc(40 / $fdf) * $rem;
  padding: 0 calc(12 / $fdf) * $rem;
  border: 1px solid #d9d9d9;
  border-radius: calc(5 / $fdf) * $rem;

  .ant-select-selection-placeholder {
    font-family: $roboto;
    font-weight: 400;
    font-size: calc(16 / $fdf) * $rem;
    line-height: calc(24 / $fdf) * $rem;
    color: rgba(0, 0, 0, 0.25);
  }

  .ant-picker-input {
    input {
      font-family: $roboto;
      font-weight: 400;
      font-size: calc(16 / $fdf) * $rem;
      color: #2c2c2c;
      line-height: calc(24 / $fdf) * $rem;

      &::placeholder {
        font-family: $roboto;
        font-weight: 400;
        font-size: calc(16 / $fdf) * $rem;
        line-height: calc(24 / $fdf) * $rem;
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.form-checkbox {
  font-family: $roboto;
  font-weight: 400;
  font-size: calc(14 / $fdf) * $rem;
  color: #2c2c2c;

  // line-height: calc(15 / $fdf) * $rem;
  span {
    padding-right: 0;
    padding-left: 0;
  }

  .ant-checkbox{
    margin-right: calc(4 / $fdf) * $rem;
  }

  .form-checkbox-label {
    font-family: $roboto;
    font-weight: 400;
    font-size: calc(16 / $fdf) * $rem;
    color: #2c2c2c;
    line-height: calc(32 / $fdf) * $rem;
    margin-left: calc(10 / $fdf) * $rem;
  }

  // .ant-checkbox {
  //   font-size: calc(15 / $fdf) * $rem;

  //   input {
  //     width: calc(15 / $fdf) * $rem;
  //     height: calc(15 / $fdf) * $rem;
  //   }
  // }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $maincolor !important;
    border-color: $maincolor !important;
  }
}

// .form-switch {
//   min-width: calc(24 / $fdf) * $rem;
//   height: calc(22 / $fdf) * $rem;
//   line-height: calc(22 / $fdf) * $rem;

//   .ant-switch-handle {
//     top: calc(2 / $fdf) * $rem;
//     left: calc(2 / $fdf) * $rem;
//     width: calc(18 / $fdf) * $rem;
//     height: calc(18 / $fdf) * $rem;
//   }

//   .ant-switch-inner {
//     font-family: $roboto;
//     font-weight: 400;
//     font-size: calc(14 / $fdf) * $rem;
//     color: #fff;
//     line-height: calc(20 / $fdf) * $rem;
//     margin: 0 calc(7 / $fdf) * $rem 0 calc(25 / $fdf) * $rem;
//   }

//   &.ant-switch-checked {
//     background-color: $maincolor;

//     .ant-switch-handle {
//       left: calc(100% - 1.125rem - 0.125rem);
//     }

//     .ant-switch-inner {
//       margin: 0 calc(25 / $fdf) * $rem 0 calc(7 / $fdf) * $rem;
//     }
//   }
// }

.custom-radio-group {
  .ant-space-item {
    margin-bottom: calc(20 / $fdf) * $rem !important;
  }

  .custom-radio {
    align-items: center;
    font-family: $roboto;
    font-weight: 400;
    font-size: calc(16 / $fdf) * $rem;
    line-height: calc(16 / $fdf) * $rem;
    color: #000;

    .ant-radio {
      top: 0;
      font-size: calc(16 / $fdf) * $rem;
      line-height: calc(16 / $fdf) * $rem;
    }

    input,
    .ant-radio-inner {
      width: calc(20 / $fdf) * $rem;
      height: calc(20 / $fdf) * $rem;
      border-width: calc(1 / $fdf) * $rem;
    }

    .ant-radio-inner {
      border-color: $maincolor;

      &::after {
        transform: unset;
        margin-top: 0;
        margin-left: 0;
        top: calc(2 / $fdf) * $rem;
        left: calc(2 / $fdf) * $rem;
        display: block;
        width: calc(14 / $fdf) * $rem;
        height: calc(14 / $fdf) * $rem;
        background-color: $maincolor;
      }
    }
  }
}

.custom-form-item {
  margin-bottom: calc(16 / $fdf) * $rem;

  &.inline-form-flex {
    padding-top: calc(23 / $fdf) * $rem;
  }

  &.ant-form-item-has-success {
    .form-input {
      border: 1px solid #20a2a2;
    }

    .form-select {
      .ant-select-selector {
        border: 1px solid #20a2a2;
      }
    }

    .form-date {
      border: 1px solid #20a2a2;
    }
  }

  &.has-suffix {
    &.ant-form-item-has-error .ant-input {
      border-color: #f8f8f8 !important;
      border: unset !important;
      box-shadow: unset !important;
    }

    .ant-form-item-control {
      line-height: calc(20 / $fdf) * $rem;

      input {
        border: unset;
      }
    }
  }

  &.horizontal-form-item {
    flex-direction: row;
    align-items: center;

    .ant-form-item-label {
      padding: 0;
      min-width: calc(80 / $fdf) * $rem;
    }

    .form-input {
      width: 50%;
    }
  }

  .ant-form-item-label {
    padding: 0 0 calc(8 / $fdf) * $rem;
    line-height: calc(22 / $fdf) * $rem;

    label {
      font-family: $roboto;
      font-size: calc(16 / $fdf) * $rem;
      font-weight: 600;
      color: #2c2c2c;
      line-height: calc(22 / $fdf) * $rem;
    }

    .custom-label {
      span {
        font-family: $roboto;
        font-size: calc(16 / $fdf) * $rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.25);
        line-height: calc(22 / $fdf) * $rem;
      }
    }
  }

  .ant-form-item-control {
    font-size: calc(16 / $fdf) * $rem;
    line-height: calc(40 / $fdf) * $rem;

    .ant-form-item-control-input {
      min-height: unset;
    }
  }

  .form-input-mention {
    width: 100%;
    padding: 0;
    border: 1px solid #d9d9d9;
    border-radius: calc(5 / $fdf) * $rem;
    font-family: $roboto;
    font-weight: 400;
    font-size: calc(16 / $fdf) * $rem;
    color: #2c2c2c;
    line-height: calc(24 / $fdf) * $rem;

    textarea {
      padding: calc(8 / $fdf) * $rem calc(12 / $fdf) * $rem;
    }
  }

  .form-date {
    width: 100%;
    height: calc(40 / $fdf) * $rem;
    padding: 0 calc(12 / $fdf) * $rem;
    border: 1px solid #d9d9d9;
    border-radius: calc(5 / $fdf) * $rem;

    .ant-select-selection-placeholder {
      font-family: $roboto;
      font-weight: 400;
      font-size: calc(16 / $fdf) * $rem;
      line-height: calc(24 / $fdf) * $rem;
      color: rgba(0, 0, 0, 0.25);
    }

    .ant-picker-input {
      input {
        font-family: $roboto;
        font-weight: 400;
        font-size: calc(16 / $fdf) * $rem;
        color: #2c2c2c;
        line-height: calc(24 / $fdf) * $rem;

        &::placeholder {
          font-family: $roboto;
          font-weight: 400;
          font-size: calc(16 / $fdf) * $rem;
          line-height: calc(24 / $fdf) * $rem;
          color: rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

[class^="icon-"],
[class*=" icon-"] {

  [class^="path"],
  [class*=" path"] {
    font-family: unset !important;
  }
}

body {
  font-family: $roboto;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $hovercolor;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9dee05;
}

// .ant-modal-wrap {
//   margin: 0 auto;
//   max-width: calc(720 / $fdf) * $rem;
//   height: 100%;
//   .ant-modal {
//     height: 100% !important;
//     max-width: unset !important;
//     padding-bottom: unset !important;
//     top: 0 !important;
//     margin: unset !important;
//     width: 100% !important;
//     .ant-modal-content {
//       height: 100% !important;
//       .ant-modal-body {
//         height: 80vh;
//         overflow-y: scroll;
//       }
//       .ant-modal-footer {
//         position: absolute !important;
//         bottom: 0 !important;
//         right: 0 !important;
//       }
//     }
//   }
// }

@keyframes active1 {
  from {
    transform: translate(-50%, 100%);
    left: 50%;
  }

  to {
    transform: translate(-50%, 0%);
    left: 50%;
  }
}

@keyframes deactive {
  from {
    transform: translate(-50%, 0%);
    left: 50%;
  }

  to {
    transform: translate(-50%, 100%);
    left: 50%;
  }
}

.ant-drawer {
  &.edit-tracking-droplist {
    .ant-drawer-body {
      justify-content: unset !important;

      .drawer-droplist-location-cate {
        padding: 16px 0;
        padding-top: 8px;
        display: flex;
        justify-content: center;

        .location-item {
          border-bottom: 1px solid #e4e1e1;
          padding: 16px 0;
          padding-top: 8px;
          flex-basis: 30%;
          text-align: center;
          cursor: pointer;

          &.active {
            border-bottom: 2px solid $maincolor;
            color: $maincolor;
          }

          &:hover {
            border-bottom: 2px solid $maincolor;
            color: $maincolor;
          }
        }
      }

      .drawer-droplist-search {
        margin-top: 8px;
      }
    }
  }

  &.edit-tracking {
    .body-inner {
      height: 85% !important;
    }

    .ant-drawer-body {
      padding-top: unset !important;
    }
  }

  .ant-drawer-content {
    overflow: unset !important;

    .ant-drawer-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 8px;

      .drawer-droplist-search {
        input {
          background-color: #f1f4f6;
          border: 1px solid #f1f4f6;
        }
      }

      .body-inner {
        padding: calc(4 / $fdf) * $rem;
        display: flex;
        flex-direction: column;
        height: 90%;
        overflow-y: scroll;
      }

      .drawer-button {
        margin-top: 8px;
        display: flex;
        justify-content: center;

        button {
          width: 30%;
          margin-right: 8px;

          &:last-child {
            margin-right: unset !important;
          }

          &.save {
            margin-right: 8px;
            background-color: $maincolor;
            color: #ffffff;

            &:hover {
              background-color: #ffffff;
              color: $maincolor;
            }
          }

          &.cancel {
            background-color: #ffffff;
            color: $maincolor;
            border: 1px solid $maincolor;

            &:hover {
              background-color: $maincolor;
              color: #ffffff;
            }
          }

          &.back {
            margin-left: 8px;
            background-color: $maincolor;
            color: #ffffff;

            &:hover {
              background-color: #ffffff;
              color: $maincolor;
            }
          }
        }
      }
    }
  }

  &.active {
    .ant-drawer-content-wrapper {
      animation: active1 0.3s infinite;
      animation-iteration-count: 1;
      left: 50% !important;
      right: 0px !important;
      max-height: 500px !important;
      max-width: calc(720 / $fdf) * $rem;
      transform: translate(-50%, 0%);
    }
  }

  &.deactive {
    .ant-drawer-content-wrapper {
      animation: deactive 0.3s infinite;
      animation-iteration-count: 1;
      left: 50% !important;
      right: 0px !important;
      max-height: 500px !important;
      max-width: calc(720 / $fdf) * $rem;
      transform: translate(-50%, 100%);
    }
  }

  .ant-drawer-content-wrapper {
    transition: unset !important;

    .ant-drawer-content {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .ant-drawer-header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: $maincolor;

        .ant-drawer-title {
          color: #ffffff;

          .drawer-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }

    &.ant-drawer-content-wrapper-hidden {
      // left: 50%;
      // transform: translate(-50%, 100%);
      // transform: translate(-50%, 100%);
      display: unset !important;
      // transition: all .5s linear;
    }
  }
}

@media only screen and (max-width: 735px) {
  .ant-drawer-content-wrapper {
    width: calc(100vw - 8px);
  }
}

@media only screen and (min-width: 736px) {
  .ant-drawer-content-wrapper {
    width: calc(720px - 8px);
  }
}

.droplist-value-item-wrapper {
  margin-bottom: 8px;

  .droplist-value-item {
    label {
      color: #ffffff;
      font-weight: 700;
      font-size: 1rem;
    }

    .droplist-value {
      height: 40px;
      background-color: #ffffff;
      font-size: 1rem;
      line-height: 40px;
      padding: 0 11px;
    }
  }
}

.drawer-droplist-item {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  height: 45px;
  line-height: 45px;

  &.active {
    background-color: #f1f4f6;
  }

  .droplist-item-left {
    .title {
      font-size: 14px;
      color: #2c2c2c;
      font-weight: 400;
    }

    .anticon {
      color: grey;
      font-size: 13px;
      margin-right: 8px;

      &.active {
        color: $maincolor;
        font-weight: 700;
      }
    }
  }

  .droplist-item-right {
    padding-right: 16px;

    .anticon {
      font-size: 13px;
      margin-right: 8px;
      color: $maincolor;
      font-weight: 700;
    }
  }
}

.content-divider {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(24 / $fdf) * $rem;

  &::before {
    position: absolute;
    width: 45%;
    border-top: 1px solid #dedede;
    content: "";
    left: 0;
  }

  &::after {
    position: absolute;
    width: 45%;
    border-top: 1px solid #dedede;
    content: "";
    right: 0;
  }
}

.ant-progress-outer {
  padding-inline-end: unset !important;
}

.ant-progress-text {
  display: none !important;
}

.ant-card {
  .ant-card-body {
    padding: unset;
  }
}

.ant-tag {
  padding: calc(3 / $fdf) * $rem calc(12 / $fdf) * $rem;
  border-color: 1px solid #dedede;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: calc(14 / $fdf) * $rem;

  &:hover {
    border-color: $maincolor;
  }
}

.check-icon {
  color: green
}

html {
  font-size: calc($fdf/1850 * 100) * $vw;
  scroll-behavior: smooth;
}

.list-button {
  margin: 0 auto;
  margin-bottom: calc(16 / $fdf) * $rem;
  padding: 0 calc(8 / $fdf) * $rem;

  button {
    // font-size: calc(16 / $fdf) * $rem;
    &.next {
      font-weight: 600;
      // height: calc(40 / $fdf) * $rem;
      background-color: $maincolor;
      color: #ffffff;
    }

    &.back,
    &.skip {
      font-weight: 600;
      // height: calc(40 / $fdf) * $rem;
      background-color: #ffffff;
      color: $textcolor;
    }
  }

  &.skills {
    display: flex;
    max-width: 75rem;
    padding: 0 calc(48 / $fdf) * $rem;
    justify-content: flex-end;
  }

  &.link-accounts {
    display: flex;
    max-width: calc(540 / $fdf) * $rem;
    justify-content: space-between;

    .next-step {
      display: flex;
      align-items: center;

      .skip {
        margin-right: calc(8 / $fdf) * $rem;
      }
    }
  }

  &.profile-detail {
    display: flex;
    max-width: calc(540 / $fdf) * $rem;
    ;
    justify-content: space-between;
  }
}

.ant-card {
  box-shadow: 0 0 6px #0000001f, 0 4px 10px #00000029;
  margin-top: calc(24 / $fdf) * $rem;

  .ant-card-head {
    .ant-card-head-title {
      font-size: calc(16 / $fdf) * $rem;
      color: $textcolor;
      font-weight: 700;
      line-height: 1.5;
    }

    .ant-card-extra {
      padding: calc(12 / $fdf) * $rem 0;

      a,
      button {
        background: #1772eb;
        // line-height: 1.43;
        padding: calc(6 / $fdf) * $rem calc(13 / $fdf) * $rem;
        border-color: #1772eb;
        color: #f7f7f7;
        font-size: calc(12 / $fdf) * $rem;
        font-size: 600;
        cursor: pointer;
        // span {
        //   border-color: #1772eb;
        //   color: #f7f7f7;
        //   font-size: calc(14 / $fdf) * $rem;
        //   font-size: 600;
        // }
      }
    }
  }

  .ant-card-body {
    padding: calc(16 / $fdf) * $rem;

    .card-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $textcolor;
      font-weight: 400;
      font-size: calc(14 / $fdf) * $rem;
      line-height: 1.43;
      margin-bottom: calc(16 / $fdf) * $rem;
      
      &.border {
        padding: calc(4 / $fdf) * $rem calc(12 / $fdf) * $rem;
        border-radius: 3px;
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
        border: 1px solid #75787d;
        display: block;
        width: fit-content;
      }

      .card-item-left {
        .anticon {
          margin-right: calc(8 / $fdf) * $rem;
        }
      }
    }

    .card-content {
      text-align: center;

      .card-image {
        display: flex;
        justify-content: center;
        margin-bottom: calc(12 / $fdf) * $rem;
      }

      .card-text {
        font-weight: 400;
        color: $textcolor;
        font-size: calc(16 / $fdf) * $rem;
        line-height: 1.43;
        margin-bottom: calc(12 / $fdf) * $rem;
        display: block;
      }

      button {
        width: 100%;
        background-color: #f7f7f7;
        color: #4d525b;
        border-color: #bec0c2;
        font-weight: 600;
        font-size: calc(14 / $fdf) * $rem;
      }
    }
  }
}
.custom-datepicker-dropdown {
  font-size: calc(14 / $fdf) * $rem;
  &.show-time {
    .ant-picker-decade-panel,
    .ant-picker-year-panel,
    .ant-picker-quarter-panel,
    .ant-picker-month-panel,
    .ant-picker-date-panel {
      width: calc(270 / $fdf) * $rem;
    }
  }
  &.frame-large {
    .ant-picker-decade-panel,
    .ant-picker-year-panel,
    .ant-picker-quarter-panel,
    .ant-picker-month-panel,
    .ant-picker-date-panel {
      width: calc(350 / $fdf) * $rem;
    }
  }
  .ant-picker-decade-panel,
  .ant-picker-year-panel,
  .ant-picker-quarter-panel,
  .ant-picker-month-panel,
  .ant-picker-date-panel {
    width: calc(280 / $fdf) * $rem;
    .ant-picker-header {
      padding: 0 calc(8 / $fdf) * $rem;
      button,
      > div {
        font-size: calc(14 / $fdf) * $rem;
        line-height: calc(40 / $fdf) * $rem;
      }
    }
    .ant-picker-body {
      padding: calc(8 / $fdf) * $rem calc(12 / $fdf) * $rem;
      .ant-picker-content {
        width: 100%;
        table-layout: auto;
        tr {
          td {
            min-width: calc(24 / $fdf) * $rem;
            padding: calc(3 / $fdf) * $rem 0;
            > div {
              min-width: calc(24 / $fdf) * $rem;
              height: calc(24 / $fdf) * $rem;
              line-height: calc(24 / $fdf) * $rem;
              border-radius: calc(2 / $fdf) * $rem;
            }
            &::before {
              height: calc(24 / $fdf) * $rem;
            }
          }
        }
      }
    }
  }
  .ant-picker-time-panel {
    .ant-picker-header {
      padding: 0 calc(5 / $fdf) * $rem;
      > div {
        font-family: $roboto;
        font-weight: 500;
        font-size: calc(14 / $fdf) * $rem;
        color: #2c2c2c;
        line-height: calc(40 / $fdf) * $rem;
      }
    }
    .ant-picker-content {
      height: calc(225 / $fdf) * $rem;
      ul {
        width: calc(50 / $fdf) * $rem;
        li {
          > div {
            height: calc(28 / $fdf) * $rem;
            padding: 0 0 0 calc(14 / $fdf) * $rem;
            line-height: calc(28 / $fdf) * $rem;
          }
        }
      }
    }
  }
  .ant-picker-footer {
    line-height: calc(35 / $fdf) * $rem;
    ul {
      .ant-picker-ok {
        margin-left: calc(8 / $fdf) * $rem;
        button {
          height: calc(24 / $fdf) * $rem;
          padding: 0 calc(7 / $fdf) * $rem;
          font-size: calc(14 / $fdf) * $rem;
          border-radius: calc(2 / $fdf) * $rem;
        }
      }
    }
  }
  .ant-picker-decade-panel,
  .ant-picker-year-panel,
  .ant-picker-quarter-panel,
  .ant-picker-month-panel {
    .ant-picker-body {
      .ant-picker-content {
        height: calc(260 / $fdf) * $rem;
      }
    }
  }
}