@charset "UTF-8";
/**
 * _variable.scss
 *
 * This is where you should declare all SCSS Variables.
 */

$roboto: 'Roboto', serif;
$open-sans: 'Open Sans', sans-serif;
$fontcolor: #707070;
$maincolor: #0ab2a8;
$navactive: #00d6ca;
$parentbgcolor: #f7f7f7;
$textcolor: #2c2c2c;
$fdf: 16;
$rem: 1rem;
$vw: 1vw;
$font-icon: 'icomoon', serif;
