@import "../../css/custom";
@import "../../css/variable";

.nav-bar {
    font-family: 'Roboto';

    .nav-bar-top {
        max-width: calc(1200 / $fdf) * $rem;
        margin: 0 auto;
        height: calc(50 / $fdf) * $rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-menu-left {
            display: flex;
            align-items: center;
            height: 100%;
            .logo {
                img {
                    margin-right: calc(16 / $fdf) * $rem;
                    width: calc(133 / $fdf) * $rem;
                    height: calc(32 / $fdf) * $rem;
                }
            }

            .manage-left {
                display: flex;
                align-items: center;
                height: 100%;
                .manage-left-item {
                    padding: calc(12 / $fdf) * $rem;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    height: 100%;
                    &:hover {
                        background-color: $hovercolor;
                    }

                    .anticon {
                        font-size: calc(20 / $fdf) * $rem;
                        margin-right: calc(8 / $fdf) * $rem;
                    }

                    span {
                        font-size: calc(12 / $fdf) * $rem;
                    }
                }
            }
        }

        .nav-menu-right {
            display: flex;
            align-items: center;

            .message-notify {
                display: flex;
                align-items: center;
                margin-right: calc(12 / $fdf) * $rem;

                .ant-badge {
                    margin-right: calc(16 / $fdf) * $rem;
                    cursor: pointer;
                    .anticon {
                        font-size: calc(20 / $fdf) * $rem;
                    }
                }
            }

            .post-profile {
                display: flex;
                align-items: center;

                button {
                    background-color: #f20091;
                    border-color: #f20091;
                    color: #ffffff;
                    font-weight: 500;
                    font-size: calc(14 / $fdf) * $rem;
                    padding: calc(6 / $fdf) * $rem calc(13 / $fdf) * $rem;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                }

                .user-profile {
                    width: calc(244 / $fdf) * $rem;
                    display: flex;
                    align-items: center;
                    padding: 0 calc(12 / $fdf) * $rem;
                    cursor: pointer;
                    &:hover{
                        background-color: $hovercolor;
                    }
                    img {
                        width: calc(32 / $fdf) * $rem;
                        height: calc(32 / $fdf) * $rem;
                        object-fit: cover;
                        border-radius: 5px;
                        margin-right: calc(8 / $fdf) * $rem;
                    }

                    .name-balance {
                        font-size: calc(13 / $fdf) * $rem;

                        .name {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}