@import "../../../css/custom";
@import "../../../css/variable";

.notification-content-wrapper{
    width: calc(400 / $fdf) * $rem;
    font-family: $roboto;
    padding-bottom: calc(16 / $fdf) * $rem;
    .notification-header{
        display: flex;
        align-items: center;
        .header-item{
            width: 40%;
            padding: calc(16 / $fdf) * $rem;
            color: $textcolor;
            font-size: calc(14 / $fdf) * $rem;
            text-align: center;
            cursor: pointer;
            &:hover{
                border-bottom: 3px solid $hovercolor;
            }
            &.active{
                font-weight: 600;
                color: $maincolor;
                border-bottom: 3px solid $maincolor;
            }
        }
        .anticon{
            width: 20%;
            &.setting-icon{
                color: $maincolor;
                cursor: pointer;
            }
            &.back-icon{
                width: unset;
                margin-right: calc(8 / $fdf) * $rem;
            }
        }
        .header-notify-text{
            color: $textcolor;
            font-weight: 700;
            font-size: calc(13 / $fdf) * $rem;
            line-height: 1.2;
        }
        &.settings{
            padding: calc(16 / $fdf) * $rem;
            border-bottom: 3px solid $hovercolor
        }
    }
    .notification-lists{
        max-height: calc(354 / $fdf) * $rem;
        overflow-y: auto;
        &.hidden{
            display: none;
        }
        .ant-empty-image{
            width: calc(120 / $fdf) * $rem;
            height: calc(100 / $fdf) * $rem;
            object-fit: cover;
            margin: 0 auto;
        }
        .notification-item{
            padding: calc(12 / $fdf) * $rem calc(16 / $fdf) * $rem;
            display: flex;
            cursor: pointer;
            justify-content: space-between;
            align-items: center;
            &:hover{
                background-color: $hovercolor;
            }
            .notification-item-left{
                display: flex;
                width: 80%;
                .notification-image{
                    margin-right: calc(16 / $fdf) * $rem;
                    .anticon{
                        font-size: calc(48 / $fdf) * $rem;
                        color: $maincolor;
                    }
                }
                .notification-content{
                    font-size:  calc(14 / $fdf) * $rem;
                    .title{
                        font-weight: 600;
                        color: $textcolor;
                    }
                    .content{
                        display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis
                    }
                }
            }
            .read{
                width: 20%;
                width: calc(8 / $fdf) * $rem;
                height: calc(8 / $fdf) * $rem;
                border-radius: 50%;
                background-color: $maincolor;
            }
        }
    }
    .saved-notification{
        padding-top: calc(96 / $fdf) * $rem;
        text-align: center;
        min-height: calc(464 / $fdf) * $rem;
        &.hidden{
            display: none;
        }
        img{
            width: calc(64 / $fdf) * $rem;
            height: calc(64 / $fdf) * $rem;
        }
        .saved-notification-text{
            max-width: calc(275 / $fdf) * $rem;
            margin: calc(16 / $fdf) * $rem auto;
        }
    }
    .settings-notification{
        padding: calc(16 / $fdf) * $rem calc(24 / $fdf) * $rem 0;
        &.hidden{
            display: none;
        }
        .settings-item{
            .title{
                font-weight: 700;
                font-size: calc(14 / $fdf) * $rem;
                line-height: 1.43;
                color: $textcolor;
            }
            .settings-item-image{
                display: flex;
                justify-content: center;
                img{
                    width: calc(64 / $fdf) * $rem;
                    height: calc(64 / $fdf) * $rem;
                }
            }
            .content{
                max-width: calc(275 / $fdf) * $rem;
                text-align: center;
                margin: 0 auto;
                margin-bottom: calc(16 / $fdf) * $rem;
                &.skills{
                    text-align: left;
                }
            }
            .settings-item-button{
                display: flex;
                justify-content: center;
                button{
                    background-color: #dedede;
                    border-color: #dedede;
                    color: $textcolor;
                    margin-bottom: calc(16 / $fdf) * $rem;
                    &:hover{
                        background-color: $hovercolor;
                    }
                }
            }
            .lists-skills{
                padding-bottom: calc(16 / $fdf) * $rem;
                .skill-item{
                    display: flex;
                    align-items: center;
                    .form-switch{
                        margin-right: calc(6 / $fdf) * $rem;
                    }
                    .switch-text{
                        font-size: calc(14 / $fdf) * $rem;
                        line-height: 1.43;
                        font-weight: 400;
                        color: $textcolor;
                    }
                }
            }
        }
    }
}